@page
@model CIE206PROJECT.Pages.Admin_Pages.Send_Request


<div class="container-sm">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form asp-page-handler="SendRequest" method="post">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h2 class="card-title">Request Subject</h2>
                            <div class="input-group mb-2">
                                <input  required type="text" class="form-control" placeholder="Subject" value="@Model.req.subject" asp-for="@Model.req.subject" />
                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-12">
                            <h2>Request description</h2>
                            <div class="form-outline mb-2">
                                <textarea required class="form-control" id="textAreaExample" rows="6" value="@Model.req.content" asp-for="@Model.req.content"></textarea>
                                <label class="form-label" for="textAreaExample">Message</label>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="rounded rounded-4 shadow-sm py-0 px-4">
                            <div class="row">
                                <div class="col p-3">
                                    <h3>
                                        Send To:
                                    </h3>
                                    <!-- Default radio button -->
                                    <div class="form-check">
                                        <input required class="form-check-input" type="radio" name="SentTo" id="ceoRadio" value="1" asp-for="@Model.SendTo" />
                                        <label class="form-check-label" for="ceoRadio">CEO</label>
                                    </div>

                                    <!-- Checked radio button -->
                                    <div class="form-check">
                                        <input required class="form-check-input" type="radio" name="SentTo" id="seniorSupervisorRadio" value="2" asp-for="@Model.SendTo" />
                                        <label class="form-check-label" for="seniorSupervisorRadio">Senior Supervisor</label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-2 p-2 ps-0 m-0 mb-2">
                                    <button type="submit" class="btn btn-outline-primary h-50 w-100 m-2">Submit</button>
                                    <div class="form-check ms-0">
                                        <input  class="ms-0 form-check-input" type="checkbox" value="" id="includeEmailCheckbox" checked />
                                        <label class="form-check-label ms-0" for="includeEmailCheckbox">Include Email</label>
                                    </div>
                                </div>
                            </div>
                        <h3 class = "lead">@Model.errorstring</h3>
                        </span>
                    </div>
            


                </form>




                </span>
            </div>
        </div>
    </div>
</div>


