@page
@model CIE206PROJECT.Pages.Group_PageModel
@{
    Layout = "CoursePageShared";
}

    @if (Model.UserType == "Trainer")
    {
 
 
    <nav class="card mb-4">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item ">
                <a class="nav-link p-4 active" data-bs-toggle="tab" href="#content">Group Content Page</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link p-4" data-bs-toggle="tab" href="#list">Student List Page</a>
            </li>
        </ul>
    </nav>

    }else{
    <nav class="card mb-4">
    </nav>

    }


<div class="container-sm">

    <div class="card mb-2">
        <div class="row g-0">
            <div class="col-md-12 col-lg-4 col-12 col-sm-12 rounded-3 bg-secondary" height="200px">

            </div>
            <div class="col-md-12 col-lg-8 col-12 col-sm-12">
                <div class="card-body p-3">
                    <div class="card-title text-center display-5">@Model.GroupInfo.Rows[0][0]</div>
                    <div class="card-text text-center display-6 text-muted">@Model.GroupInfo.Rows[0][1]</div>
                    <div class="d-flex justify-content-center flex-row flex-wrap overflow-auto">

                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="tab-content">
        <div class="tab-pane fade show active" id="content">
            <div class="row g-2 mb-2 justify-content-center d-flex">
                <div class="col col-12 col-md-12 col-sm-12 col-lg-5 ">
                    <div class="card h-100 p-4">
                        <div class="card-body">
                            <div class="card-title h5"> The upcoming Lecture is Scheduled for</div>

                            <div class="card-title display-5">@Model.GroupInfo.Rows[0][7]</div>
                            <div class="card-title h4 mb-1">@Model.UpcomingLecture.Rows[0][1]</div>
                            <br>


                            And will cover the following topics
                            <ul>
                                @for (int i = 0; Model.UpcomingLectureTopics.Rows.Count > i; i++)
                                {


                                    <li>
                                        @Model.UpcomingLectureTopics.Rows[i][0]

                                    </li>

                                }
                            </ul>
                            <a class="h5 text-primary">@Model.GroupInfo.Rows[0][8]</a> <strong class="text-muted">/
                                @Model.UpcomingLecture.Rows[0][2] </strong>

                        </div>


                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="card h-100 ">
                        <div class="card-body m-4">
                            <div class="card-title mb-3 h5"> Course Information</div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-2">Tutor Emails</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.GroupInfo.Rows[0][10]</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-2">Total Sessions</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.GroupInfo.Rows[0][2]</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-1">Start Date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.GroupInfo.Rows[0][3]</p>
                                </div>
                            </div>
                            <div class="card-title mt-3 mb-3 h5"> Group Information</div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-1">Students in group</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.StudentCount</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-1">age group</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.GroupInfo.Rows[0][9]</p>


                                </div>
                            </div>






                        </div>
                    </div>


                </div>

            </div>

            @for (int i = 0; @Model.GroupContent.Rows.Count > i; i++)

            {


                <div class="accordion shadow-4 accordion-flush rounded-3" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item mb-2">
                        <h2 class="accordion-header;" id="panelsStayOpen-heading@i">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapse-@i" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapse-@i">
                                <div class="h5 m-2 me-5"> Lecture @i </div>
                                Topics
                                <div class="ms-3 mt-3">
                                    <ul class="list-inline">
                                        @if (Model.GroupContent.Rows.Count < Model.ContentTopics.Count)
                                        {
                                            @for (int j = 0; @Model.ContentTopics[i].Rows.Count > j; j++)
                                            {
                                                <li class="list-inline-item">@Model.ContentTopics[i].Rows[j][0]</li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="m-4 text"> 12:44 2021 january</div>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse-@i" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-heading-@i">
                            <div class="accordion-body">
                                this lecture was held on <strong>12:44 2021 january</strong> in the meetinglink/room

                                <a class="h5 text-primary">Meeting link</a> <strong class="text-muted">/
                                    ROOM-24e</strong>
                                <br>
                                @if (Model.GroupContent.Rows.Count < Model.ContentTopics.Count)
                                {
                                    <div class="h5 m-4 text-center">The following topics were covered</div>
                                    <dl>
                                        @for (int j = 0; @Model.ContentTopics[i].Rows.Count > j; j++)
                                        {
                                            <dt>@Model.ContentTopics[i].Rows[j][0]</dt>
                                            <dd>@Model.ContentTopics[i].Rows[j][1]</dd>
                                        }
                                    </dl>

                                }
                                <div class="h5 m-4 text-center">Summary</div>
                                <div class="text-muted m-4 text-center">@Model.GroupContent.Rows[i][1]</div>

                                <div class="h5 m-4 text-center">Video</div>
                                <div class="text-muted m-4 text-center">@Model.GroupContent.Rows[i][2]</div>

                                <div class="h5 m-4 text-center">Slides</div>
                                <div class="text-muted m-4 text-center">@Model.GroupContent.Rows[i][3]</div>

                                <div class="h5 m-4 text-center">teacher Guide</div>
                                <div class="text-muted m-4 text-center">@Model.GroupContent.Rows[i][4]</div>

                                <div class="h5 m-4 text-center">handout</div>
                                <div class="text-muted m-4 text-center">@Model.GroupContent.Rows[i][5]</div>





                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>


        @if (Model.UserType == "Trainer")
        {
 


           <div class="tab-pane fade" id="list">
                <div class="mb-2">
                    <div class="row g-2 row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">


                        @for (int i = 0; Model.Students.Rows.Count > i; i++)
                        {
                            <div class="col">
                                <a asp-page="/Course_pages/Student-overview" asp-route-id="@Model.Students.Rows[i][0]">

                                    <div class="card text-center">
                                        <div class="card-body d-flex">
                                            <img src="https://www.tutorialspoint.com/bootstrap/images/64.jpg"
                                                class="rounded-circle me-3" width="32" height="32">
                                            <div class="mt-1 d-flex flex-column justify-content-between align-items-start">
                                                <div class="card-text h6 me-2">@Model.Students.Rows[i][1] <span
                                                        class="badge bg-primary rounded-pill"> Student</span></div>
                                            </div>
                                            <div class="ms-auto mt-1">
                                                <div class="text-end">
                                                    <i class="bi bi-three-dots"></i>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <!-- Repeat the above 'col' divs to create more cards -->
                        }
                    </div>


                </div>
            </div>
        }
    </div>

</div>

